@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/*Reset Margin, Padding and Bottom*/
* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    min-width: 320px;
    padding: 0% 5% 0% 5%;
    font-family: 'Roboto', sans-serif;
}

/*Styles for animation*/
.fade-in {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.5s ease, transform 1.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    margin-top: -10px;
    background-color: #fff;
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_container {
    width: 1000px;
    height: 80px;
    background-color: #fff;
    gap: none;
    padding: 10px 20px 10px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_burger-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border: 0;
    background: transparent;
    gap: 5px;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_burger-btn span {
    width: 45px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.R_text_logo, .G_text_logo {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}

.navigation_bar {
    width: auto;
    height: auto;
    gap: 5px;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a {
    color: #000;
    text-decoration: none;
}

.home_btn, .project_btn, .contact_btn {
    padding: 10px 10px;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
}

.home_btn:hover, .project_btn:hover, .contact_btn:hover {
    background-color: #F5F5F5;
}

a:hover {
    text-decoration: none;
}

.switch_container {
    width: 130px;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Theme Switcher*/
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #393939;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked + .slider {
    background-color: #F5F5F5;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/*Language Switcher*/
.language_btn {
    width: 60px;
    height: 35px;
    background-color: #393939;
    border-radius: 30px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

/*Section "Home"*/
.home_page {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home_page_container {
    width: 1000px;
    height: 360px;
    background-color: #F5F5F5;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar1_img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 15px 15px 20px 0px #B5B6BB, -15px -5px 20px 0px #B5B6BB;
}

.greetings_text_container {
    width: auto;
    height: 60px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.greetings_text1 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.greetings_text2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.download_CV_btn {
    width: 160px;
    height: 47px;
    background-color: #3D3BFF;
    border-radius: 100px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.download_CV_btn:hover {
    background-color: #1A1977;
    color: #fff;
}

/*Section "About Me"*/
.about_me_page {
    max-width: 100%;
    height: 450px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.about_me_container {
    width: 1000px;
    height: 450px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about_me_purple_block {
    width: 700px;
    height: 450px;
    border-radius: 50px;
    background-color: #A5A9F7;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about_me_name_page {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
}

.text_about_me_container {
    width: 630px;
    height: 265px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_about_me1 {
    width: 620px;
    height: 253px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text_about_me2 {
    width: 620px;
    height: 253px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.contact_me_btn {
    width: 147px;
    height: 47px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);


    font-size: 16px;
    font-weight: 700;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_me_btn:hover {
    background-color: #DDDDDD;
    color: #000;
}

.avatar2_img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 15px 15px 20px 0px #B5B6BB, -15px -5px 20px 0px #B5B6BB;
    animation: avatar_anim-2 10s linear infinite;
}

@keyframes avatar_anim-2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*Section "My Project"*/
.my_project_page {
    max-width: 100%;
    height: 500px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

.my_project_container {
    width: 1000px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.my_project_name_page {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.block_project_container {
    width: 1000px;
    height: 400px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.project_block_1, .project_block_2, .project_block_3 {
    width: 315px;
    height: 400px;
    background-color: #F5F5F5;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.background_project1, .background_project3 {
    width: 290px;
    height: 234px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: 700;
    color: #000;
}

.background_project2 {
    width: 290px;
    height: 234px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    gap: 3px;
    overflow: hidden;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row_1, .row_3 {
    animation: row1-row3 10s linear infinite;
}

.row_2, .row_4 {
    animation: row2-row4 10s linear infinite;
}

@keyframes row1-row3 {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, 15%, 0);
    }
}

@keyframes row2-row4 {
    0% {
      transform: translate3d(0, -0, 0);
    }
    50% {
      transform: translate3d(0, -15%, 0);
    }
}

.name_of_project1, .name_of_project2, .name_of_project3 {
    font-size: 22px;
    font-weight: 700;
    color: #3F79E6;
    margin-top: 20px;
}

.more_info_btn1:hover, .more_info_btn2:hover, .more_info_btn3:hover {
    background-color: #000;
    color: #fff;
}

.more_info_btn1, .more_info_btn2, .more_info_btn3 {
    width: 135px;
    height: 50px;
    background-color: #F7F7F5;
    border-radius: 100px;
    border: 1px solid #000;
    margin-top: 35px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
    color: #000;
}

/*Section "My tools and skills"*/
.my_tools_and_skills_page {
    width: 100%;
    height: 400px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my_tools_and_skills_container {
    width: 1000px;
    height: 400px;
    background-color: #E2DFFF;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my_tools_and_skills_name_page {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
}

.my_tools_and_skills_block_container {
    width: 1000px;
    height: 190px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.text_my_tools_and_skills_container {
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text_my_tools_and_skills1 {
    width: 500px;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.text_my_tools_and_skills2 {
    width: 500px;
    height: auto;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.charts_container {
    width: 350px;
    height: 190px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.html_chart, .css_chart, .js_chart  {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.name_chart_html, .name_chart_css, .name_chart_js {
    font-size: 28px;
    font-weight: 500;
    color: #000;
}

.line_chart_html, .line_chart_css, .line_chart_js {
    width: 350px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #000;
}

.line_chart_html {
    background: linear-gradient(to right, #3D3BFF 90%, white 10%);
}

.line_chart_css {
    background: linear-gradient(to right, #3D3BFF 70%, white 30%);
}

.line_chart_js {
    background: linear-gradient(to right, #3D3BFF 50%, white 50%);
}

.programs_container {
    width: 250px;
    height: 61px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vs_code_icon, .figma_icon, .chatgpt_icon {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.vs_code_icon:hover, .figma_icon:hover, .chatgpt_icon:hover {
    transform: scale(0.8);

}

/*Section "Contact Me"*/
.contact_me_page {
    width: 100%;
    height: 250px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact_me_container {
    width: 1000px;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar3_img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 15px 15px 20px 0px #B5B6BB, -15px -5px 20px 0px #B5B6BB;

    animation: avatar_anim-3 10s linear infinite;
}

@keyframes avatar_anim-3{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.contact_me_gray_block1 {
    width: 700px;
    height: 200px;
    background-color: #F5F5F5;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text_contact_me {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.social_media_container {
    width: 300px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.telegram_icon, .linkedin_icon, .vk_icon, .instagram_icon {
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.telegram_icon:hover, .linkedin_icon:hover, .vk_icon:hover, .instagram_icon:hover {
    transform: scale(0.8);
}

/*Section "Visual Settings"*/
.fo_fun_page {
    width: 100%;
    height: 345px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fo_fun_container {
    width: 1000px;
    height: 345px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.fo_fun_gray_block1 {
    width: 380px;
    height: 345px;
    background-color: #F5F5F5;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fo_fun_name_page {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-top: 17px;
    text-align: center;
}

.text_fo_fun {
    width: 350px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 100px;
}

.fonts_color_container {
    width: 580px;
    height: 345px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.color_block {
    width: 340px;
    height: 340px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.color_1 {
    width: 150px;
    height: 150px;
    background-color: #A5A9F7;
    border-radius: 20px;

    font-size: 30px;
    font-weight: 700;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.color_1, .color_2, .color_3, .color_4 {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    transition: 0.2s;

    font-size: 30px;
    font-weight: 700;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}
.color_1 {
    background-color: #A5A9F7;
}

.color_2 {
    background-color: #E2DFFF;
}

.color_3 {
    background-color: #3D3BFF;
}

.color_4 {
    background-color: #F5F5F5;
}

.color_1:hover, .color_2:hover, .color_3:hover, .color_4:hover {
    transform: scale(1.1);
}

.fonts_block {
    width: 190px;
    height: 175px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.roboto_30px, .roboto_28px, .roboto_24px, .roboto_22px, .roboto_16px {
    font-weight: 600;
    color: #000;
}

.roboto_30px {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.roboto_28px {
    font-size: 28px;
}

.roboto_24px {
    font-size: 24px;
}

.roboto_22px {
    font-size: 22px;
}

.roboto_20px {
    font-size: 20px;
}

.roboto_16px {
    font-size: 16px;
}

/*Footer*/
.footer {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    width: 1000px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
    color: #000;
}
